.education{
background-color: #1e2477;
}
.vacation{
background-color:#2f7c32;
}
.retirement{
background-color: #669999;
}
.car
{
background-color: #dbaf00;
}
.others
{
background-color: #6666ff;
}
.marriage
{
background-color:  #ea0000;
}
.house
{
    background-color: #f7941d;
}