:root{
    --education: #1e2477;
    --vacation: #2f7c32;
    --retirement: #669999;
    --car: #dbaf00;
    --others: #6666ff;
    --marriage: #ea0000;
    --house: #f7941d;
}
.education{
background-color: var(--education);
}
.vacation{
background-color:var(--vacation);
}
.retirement{
background-color: var(--retirement);
}
.car
{
background-color: var(--car);
}
.others
{
background-color: var(--others);
}
.marriage
{
background-color:  var(--marriage);
}
.house
{
    background-color: var(--house);
}